.item {
  margin: 1rem 0;
  color: #292b2c;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

.logcard {
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 3%;
  margin-bottom: 5px;
  background-color: #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}