.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #292b2c;
  border-bottom: 1px solid #d9534f;
}

.logo {
  font-size: 2rem;
  color: #f7f7f7;
  text-decoration: none;
}

.logo:hover,
.logo:active {
  color: #d9534f;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #f7f7f7;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #d9534f;
}

.login {
  color: #f7f7f7
}